<div class="prose flex flex-col w-full max-w-full p-3">
  <h2>Search planes</h2>
  <div class="flex flex-wrap m-3">
    <label class="input input-bordered flex items-center gap-2 mr-3 mb-3 w-96" for="registration">
      <span class="w-28">Registration</span>
      <input type="text"
             class="grow"
             id="registration"
             [(ngModel)]="registration"/>
    </label>
    <label class="input input-bordered flex items-center gap-2 mr-3 mb-3 w-96" for="name">
      <span class="w-28">Plane Name</span>
      <input type="text"
             class="grow"
             id="name"
             [(ngModel)]="name"/>
    </label>
    <label class="input input-bordered flex items-center gap-2 mr-3 mb-3 w-96" for="ownerName">
      <span class="w-28">Creator Name</span>
      <input type="text"
             class="grow"
             id="ownerName"
             [(ngModel)]="ownerName"/>
    </label>
    <button (click)="search()" class="btn w-96">Search</button>
  </div>
  <h2>Search results</h2>
  <div class="flex flex-wrap gap-4">
    @for (plane of searchResults | async; track plane) {
      <plane-card
        class="card bg-base-100 w-72 shadow-xl"
        [plane]="plane"
      />
    }
  </div>
</div>
