<div class="prose flex flex-col w-full max-w-full p-3">
  <h2>User Profile</h2>
  <div class="mb-4">
  @if (userAlreadyExists) {
    <div role="alert" class="alert alert-error w-96 p-3">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 shrink-0 stroke-current"
        fill="none"
        viewBox="0 0 24 24">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
      </svg>
      <span>Nickname is already used</span>
    </div>
  }
  @if (isSaved) {
    <div role="alert" class="alert alert-success w-96 p-3">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 shrink-0 stroke-current"
        fill="none"
        viewBox="0 0 24 24">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
      </svg>
      <span>Profile successfully saved</span>
    </div>
  }
  </div>
  <label class="input input-bordered flex items-center gap-2 mr-3 mb-3 w-96" for="registration">
    <span class="w-28">Nickname</span>
    <input type="text"
           class="grow"
           id="registration"
           [(ngModel)]="nickname"/>
  </label>
  <button (click)="save()" class="btn w-48">Save</button>

</div>
