@if (isLoggedIn()) {
  <div class="prose flex flex-col w-full max-w-full p-3">
    <div class="flex ml-1 justify-between max-w-screen-md">
      <h2 class="m-1">
        Create a plane
      </h2>
      <h3 class="m-1">
        <button class="btn btn-active btn-sm"
                (click)="toggleUnitPanel()">kg ⇄ lb
        </button>
      </h3>
    </div>
    @if (!(isNicknameDefined | async)) {
      <div role="alert" class="alert alert-info max-w-screen-md">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="h-6 w-6 shrink-0 stroke-current">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <span>To allow other members to easily find your plane, consider <a class="text-black"
                                                                            [routerLink]="['/profile']">defining a nickname</a></span>
      </div>
    }

    @if (currentErrorCode) {
      <div role="alert" class="alert alert-warning max-w-screen-md">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"/>
        </svg>
        @if (currentErrorCode === "LANDING_WIND_COEFFICIENTS_EMPTY") {
          <span>At least one landing wind coefficient is needed. Could be 1 for a 0 kt wind</span>
        } @else if (currentErrorCode === "TAKE_OFF_WIND_COEFFICIENTS_EMPTY") {
          <span>At least one take off wind coefficient is needed. Could be 1 for a 0 kt wind</span>
        } @else if (currentErrorCode === "RUNWAY_FACTOR_UNDEFINED_PARAMETER") {
          <span>At least one runway coefficient is not properly filled</span>
        } @else if (currentErrorCode === "PLANE_CREATION_COMMAND_EMPTY_NAME") {
          <span>Plane name is mandatory</span>
        } @else if (currentErrorCode === "PLANE_CREATION_COMMAND_EMPTY_REGISTRATION") {
          <span>Plane registration is mandatory</span>
        } @else {
          <span>Plane is not valid</span>
        }
      </div>
    }

    @if (isSaved) {
      <div role="alert" class="alert alert-success max-w-screen-md">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 shrink-0 stroke-current"
          fill="none"
          viewBox="0 0 24 24">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
        </svg>
        <span>Plane saved</span>
      </div>
    }
    @if (inError) {
      <div role="alert" class="alert alert-error w-full p-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 shrink-0 stroke-current"
          fill="none"
          viewBox="0 0 24 24">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
        </svg>
        <span>Error while saving</span>
      </div>
    }

    <div class="flex flex-col w-full max-w-screen-md">
      <div class="flex m-3">
        <input type="text" placeholder="Registration"
               aria-label="Registration input"
               class="input input-bordered w-full max-w-xs btn-sm m-1"
               [(ngModel)]="registration"
               (ngModelChange)="onFormChange()"/>
        <input type="text" placeholder="Name"
               aria-label="Name input"
               class="input input-bordered w-full max-w-xs btn-sm m-1"
               [(ngModel)]="name"
               (ngModelChange)="onFormChange()"/>
        <button class="btn btn-sm m-1" (click)="save()">Save</button>
      </div>
    </div>
    @if (unitPanel) {
      <choose-unit-form
        (output)="newChosenUnit($event)"
      />
    }
    <plane-performance class="flex flex-wrap"
                       [performances]="performances"
                       [chosenUnit]="chosenUnit"
                       (emittedPerformances)="setPerformances($event)"
                       [mode]="'EDIT'"
    />
  </div>
} @else {
  <not-logged-in/>
}

