<div class="overflow-x-auto">
  <div class="overflow-x-auto table-xs">
    <table class="table mt-1 mb-1">
      <tbody>
      <tr>
        <th>Security coefficient</th>
        <td>{{ securityFactor }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <h4>Runway</h4>
  <table class="table table-zebra table-xs mt-1">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Hard</th>
      <th>Grass</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th rowspan="2">Landing</th>
      <th>Wet</th>
      <td>{{ landingRunwayFactors?.hardWet }}</td>
      <td>{{ landingRunwayFactors?.grassWet }}</td>
    </tr>
    <tr>
      <th>Dry</th>
      <td>{{ landingRunwayFactors?.hard }}</td>
      <td>{{ landingRunwayFactors?.grass }}</td>
    </tr>
    <tr>
      <th rowspan="2">Take off</th>
      <th>Wet</th>
      <td>{{ takeOffRunwayFactors?.hardWet }}</td>
      <td>{{ takeOffRunwayFactors?.grassWet }}</td>
    </tr>
    <tr>
      <th>Dry</th>
      <td>{{ takeOffRunwayFactors?.hard }}</td>
      <td>{{ takeOffRunwayFactors?.grass }}</td>
    </tr>
    </tbody>
  </table>
  <h4>Take off Wind</h4>
  <table class="table table-zebra table-xs mt-1">
    <thead>
    <tr>
      <th></th>
      <th>Wind speed (kt)</th>
      <th>Coef</th>
    </tr>
    </thead>
    <tbody>
      @for (coefficient of _tailWindTakeOffCoefficients; track coefficient) {
        <tr>
          @if ($index === 0) {
            <th [attr.rowspan]="_tailWindTakeOffCoefficients.length">Tail wind</th>
          }
          <td>{{ tailwindLabelForIndex($index, _tailWindTakeOffCoefficients) }}</td>
          <td>{{ coefficient.coefficient }}</td>
        </tr>
      }
      @for (coefficient of _headWindTakeOffCoefficients; track coefficient) {
        <tr>
          @if ($index === 0) {
            <th [attr.rowspan]="_headWindTakeOffCoefficients.length">Headwind</th>
          }
          <td>{{ headwindLabelForIndex($index, _headWindTakeOffCoefficients) }}</td>
          <td>{{ coefficient.coefficient }}</td>
        </tr>
      }
  </table>
  <h4>Landing Wind</h4>
  <table class="table table-zebra table-xs mt-1">
    <thead>
    <tr>
      <th></th>
      <th>Wind speed (kt)</th>
      <th>Coef</th>
    </tr>
    </thead>
    <tbody>
      @for (coefficient of _tailWindLandingCoefficients; track coefficient) {
        <tr>
          @if ($index === 0) {
            <th [attr.rowspan]="_tailWindLandingCoefficients.length">Tail wind</th>
          }
          <td>{{ tailwindLabelForIndex($index, _tailWindLandingCoefficients) }}</td>
          <td>{{ coefficient.coefficient }}</td>
        </tr>
      }
      @for (coefficient of _headWindLandingCoefficients; track coefficient) {
        <tr>
          @if ($index === 0) {
            <th [attr.rowspan]="_headWindLandingCoefficients.length">Headwind</th>
          }
          <td>{{ headwindLabelForIndex($index, _headWindLandingCoefficients) }}</td>
          <td>{{ coefficient.coefficient }}</td>
        </tr>
      }
  </table>
</div>
