<div class="flex flex-col m-3">
  <h2 class="mt-3">Performances</h2>

  @if (mode === 'EDIT') {
    <div class="flex flex-col w-1/2">
      <h4 class="m-1">Temperature mode</h4>
      <label class="label cursor-pointer flex flex-row">
          <div class="label-text mx-1 w-2/5 text-right">Difference with ISA temperature</div>
          <input type="radio" name="temperature-mode" class="radio" [ngModel]="this.performances.temperatureMode"
                 [value]="'ISA'"
                 (ngModelChange)="changeTemperatureMode($event)"/>
          <div class="label-text mx-1 w-2/5 text-right">Absolute temperature</div>
          <input type="radio" name="temperature-mode" class="radio" [ngModel]="this.performances.temperatureMode"
                 [value]="'ABSOLUTE'"
                 (ngModelChange)="changeTemperatureMode($event)"/>
      </label>
    </div>

    <div class="flex flex-col w-1/2">
      <h4 class="m-1">Horizontal Distance Unit</h4>
      <label class="label cursor-pointer flex flex-row">
        <span class="label-text mx-1 w-2/5 text-right">Meters</span>
        <input type="radio" name="horizonal-distance-unit" class="radio"
               [ngModel]="this.performances.horizontalDistanceUnit"
               [value]="'METERS'"
               (ngModelChange)="changeHorizontalDistanceUnit($event)"/>
        <span class="label-text mx-1 w-2/5 text-right">Feet</span>
        <input type="radio" name="horizonal-distance-unit" class="radio"
               [ngModel]="this.performances.horizontalDistanceUnit"
               [value]="'ABSOLUTE'"
               (ngModelChange)="changeHorizontalDistanceUnit($event)"/>
      </label>
    </div>
    <div class="flex flex-col w-1/2">
      <h4 class="m-1">Mass Unit</h4>
      <label class="label cursor-pointer flex flex-row">
        <span class="label-text mx-1 w-2/5 text-right">Kilograms</span>
        <input type="radio" name="mass-unit" class="radio" [ngModel]="this.performances.massUnit"
               [value]="'KILOGRAMS'"
               (ngModelChange)="changeMassUnit($event)"/>
        <span class="label-text mx-1 w-2/5 text-right">Pounds</span>
        <input type="radio" name="mass-unit" class="radio" [ngModel]="this.performances.massUnit"
               [value]="'POUNDS'"
               (ngModelChange)="changeMassUnit($event)"/>
      </label>
    </div>
  }

  <div class="flex flex-wrap gap-2">
    <div class="w-96">
      <h4 class="m-1">Take off</h4>
      <performance-table
        [temperatureMode]="this.performances.temperatureMode"
        [horizontalDistanceUnit]="this.performances.horizontalDistanceUnit"
        [massUnit]="this.performances.massUnit"
        [mode]="mode"
        [dataPoints]="performances.takeOffDataPoints"
        (emittedDataPoints)="newTakeOffDataPoints($event)"
      />
    </div>
    <div class="w-96">
      <h4 class="m-1">Landing</h4>
      <performance-table
        [temperatureMode]="this.performances.temperatureMode"
        [horizontalDistanceUnit]="this.performances.horizontalDistanceUnit"
        [massUnit]="this.performances.massUnit"
        [mode]="mode"
        [dataPoints]="performances.landingDataPoints"
        (emittedDataPoints)="newLandingDataPoints($event)"
      />
    </div>
  </div>
  <h2 class="mt-3">Coefficients</h2>
  <div class="flex flex-wrap gap-2">
    <computation-factors
      [mode]="mode"
      [securityFactor]="securityFactor"
      [landingRunwayFactors]="performances.landingRunwayFactors"
      [takeOffRunwayFactors]="performances.takeOffRunwayFactors"
      [takeOffWindCoefficients]="performances.takeOffCoefficientsComputationData"
      [landingWindCoefficients]="performances.landingCoefficientsComputationData"
      (emittedLandingRunwayFactors)="newLandingRunwayFactors($event)"
      (emittedTakeOffRunwayFactors)="newTakeOffRunwayFactors($event)"
      (emittedTakeOffWindCoefficients)="newTakeOffWindCoefficients($event)"
      (emittedLandingWindCoefficients)="newLandingWindCoefficients($event)"
    />
  </div>
</div>
