<div class="prose flex flex-wrap w-full max-w-full">
  <div class="flex flex-col m-3 w-full max-w-96">
    <div class="flex">
      <h3 class="m-1">
        <fa-icon class="cursor-pointer" [icon]="faChevronLeft" [routerLink]="['/planes']"></fa-icon>
      </h3>
      <h2 class="m-1">
        {{ plane.immat }}
      </h2>
      <h3 class="m-1">
        {{ plane.name }}
      </h3>
      <h3 class="m-1">
        <button class="btn btn-active btn-sm" (click)="toggleInformationPanel()">{{ detailedMode ? "Simple" : "Detailed" }}</button>
      </h3>
    </div>
    <div class="m-1">
      <label for="mass" class="input input-sm flex items-center gap-2"><span class="min-w-44">Mass</span><input
        class="w-16" type="number"
        id="mass"
        [(ngModel)]="massInKg">kg</label>
    </div>

    <div class="m-1">
      <label for="temperature" class="input input-sm flex items-center gap-2"><span
        class="min-w-44">Temperature</span><input class="w-16"
                                                  type="number"
                                                  id="temperature"
                                                  [(ngModel)]="temperatureInCelsius">°C</label>
    </div>

    <div class="m-1">
      <label for="qnh" class="input input-sm flex items-center gap-2"><span class="min-w-44">QNH</span><input
        class="w-16" type="number" id="qnh"
        [(ngModel)]="qnhInHpa">hPa</label>
    </div>

    <div class="m-1">
      <label for="altitude" class="input input-sm flex items-center gap-2"><span
        class="min-w-44">Terrain altitude</span><input class="w-16"
                                                       type="number"
                                                       id="altitude"
                                                       [(ngModel)]="altitude">ft</label>
    </div>

    <div class="m-1 flex">
      <label for="grass-runway" class="input input-sm flex items-center gap-2">
        <span class="min-w-44">Grass Runway ?</span>
      </label>
      <input id="grass-runway" type="checkbox" class="toggle toggle-success toggle-md" checked="checked"
             [(ngModel)]="isGrassRunway"/>
    </div>

    <div class="m-1 flex">
      <label for="wet-runway" class="input input-sm flex items-center gap-2">
        <span class="min-w-44">Wet Runway ?</span>
      </label>
      <input id="wet-runway" type="checkbox" class="toggle toggle-info toggle-md" checked="checked"
             [(ngModel)]="isWetRunway"/>
    </div>

    <button (click)="compute()" class="btn">Calculate</button>
    @if (completePerformanceComputeResponse) {
      <div class="flex flex-col">
        <div class="flex">
          <computation-results class="w-1/2"
                               [performanceComputeResponse]="completePerformanceComputeResponse.takeOffPerformanceComputeResponse"
                               [type]="'TAKE_OFF'"/>
          <computation-results class="w-1/2"
                               [performanceComputeResponse]="completePerformanceComputeResponse.landingPerformanceComputeResponse"
                               [type]="'LANDING'"/>
        </div>
        @if (detailedMode) {
          <h4 class="m-1">Take-off computation details</h4>
          <computation-details
            [performanceComputeResponse]="completePerformanceComputeResponse.takeOffPerformanceComputeResponse"
          />
          <h4 class="m-1">Landing computation details</h4>
          <computation-details
            [performanceComputeResponse]="completePerformanceComputeResponse.landingPerformanceComputeResponse"
          />
        }
      </div>
    }
  </div>
  @if (detailedMode) {
    <div class="ml-3">
      <h4>Factors</h4>
      <computation-factors
        [securityFactor]="securityFactor"
        [landingRunwayFactors]="plane.landingRunwayFactors"
        [takeOffRunwayFactors]="plane.takeOffRunwayFactors"
      />
    </div>
    <div class="ml-3">
      <h4>Take off performances</h4>
      <performance-table
        [dataPoints]="plane.takeOfDataPoints"
      />
    </div>
    <div class="ml-3">
      <h4>Landing performances</h4>
      <performance-table
        [dataPoints]="plane.landingDataPoints"
      />
    </div>
  }
</div>
