<div class="prose flex flex-wrap w-full max-w-full">
    <div class="flex flex-col w-96 m-3">
        <div class="flex justify-between m-3">
            <h2 class="m-1">
                {{ plane.registration }}
            </h2>
            @if (mustDisplayFavoriteIcon()) {
                <h3 class="m-1">
                    <fa-icon class="cursor-pointer" (click)="toggleFavorite()" [icon]="favoriteIcon | async"></fa-icon>
                </h3>
            }
        </div>
        <div class="flex ml-1 justify-between">
            <h3 class="m-1">
                {{ plane.name }}
            </h3>
            <h3 class="m-1">
                <button class="btn btn-active btn-sm"
                        (click)="toggleUnitPanel()">kg ⇄ lb
                </button>
            </h3>
            <h3 class="m-1">
                <button class="btn btn-active btn-sm"
                        (click)="toggleInformationPanel()">{{ detailedMode ? "Simple" : "Detailed" }}
                </button>
            </h3>
        </div>
        @if (unitPanel) {
            <choose-unit-form
                    (output)="newChosenUnit($event)"
            />
        }
        <computation-form
                [chosenUnit]="chosenUnit"
                (output)="compute($event)"
        />

        @if (completePerformanceComputeResponse) {
            <div class="flex flex-col">
                <div class="flex">
                    <computation-results class="w-1/2"
                                         [performanceComputeResponse]="completePerformanceComputeResponse.takeOffPerformanceComputeResponse"
                                         [chosenUnit]="chosenUnit"
                                         [type]="'TAKE_OFF'"/>
                    <computation-results class="w-1/2"
                                         [performanceComputeResponse]="completePerformanceComputeResponse.landingPerformanceComputeResponse"
                                         [chosenUnit]="chosenUnit"
                                         [type]="'LANDING'"/>
                </div>
            </div>
        }
    </div>
    @if (detailedMode) {
        @if (completePerformanceComputeResponse) {
            <div class="flex flex-col w-96 m-3">
                <h2 class="mt-3">Computation details</h2>
                <div>
                    <h4 class="m-1">Take off</h4>
                    <computation-details
                            [performanceComputeResponse]="completePerformanceComputeResponse.takeOffPerformanceComputeResponse"
                            [chosenUnit]="chosenUnit"
                    />
                    <h4 class="m-1">Landing</h4>
                    <computation-details
                            [performanceComputeResponse]="completePerformanceComputeResponse.landingPerformanceComputeResponse"
                            [chosenUnit]="chosenUnit"
                    />
                </div>
            </div>
        }
        <plane-performance
                class="flex flex-wrap"
                [performances]="performanceViewModel"
                [chosenUnit]="chosenUnit"
                [securityFactor]="securityFactor"
        />
    }
</div>
