<div class="flex flex-col w-full max-w-96">
  <div class="m-1">
    <label for="mass" class="input input-sm flex items-center gap-2"><span class="min-w-44">Mass</span><input
      class="w-16" type="number"
      id="mass"
      [(ngModel)]="massInKg">kg</label>
  </div>

  <div class="m-1">
    <label for="temperature" class="input input-sm flex items-center gap-2"><span
      class="min-w-44">Temperature</span><input class="w-16"
                                                type="number"
                                                id="temperature"
                                                [(ngModel)]="temperatureInCelsius">°C</label>
  </div>

  <div class="m-1">
    <label for="qnh" class="input input-sm flex items-center gap-2"><span class="min-w-44">QNH</span><input
      class="w-16" type="number" id="qnh"
      [(ngModel)]="qnhInHpa">hPa</label>
  </div>

  <div class="m-1">
    <label for="altitude" class="input input-sm flex items-center gap-2"><span
      class="min-w-44">Terrain altitude</span><input class="w-16"
                                                     type="number"
                                                     id="altitude"
                                                     [(ngModel)]="altitude">ft</label>
  </div>

  <div class="m-1">
    <label for="headwind" class="input input-sm flex items-center gap-2"><span
      class="min-w-44">Headwind</span><input class="w-16"
                                                     type="number"
                                                     id="headwind"
                                                     [(ngModel)]="headwindInKnots">kt</label>
  </div>

  <div class="m-1 flex">
    <label for="grass-runway" class="input input-sm flex items-center gap-2">
      <span class="min-w-44">Grass Runway ?</span>
    </label>
    <input id="grass-runway" type="checkbox" class="toggle toggle-success toggle-md" checked="checked"
           [(ngModel)]="isGrassRunway"/>
  </div>

  <div class="m-1 flex">
    <label for="wet-runway" class="input input-sm flex items-center gap-2">
      <span class="min-w-44">Wet Runway ?</span>
    </label>
    <input id="wet-runway" type="checkbox" class="toggle toggle-info toggle-md" checked="checked"
           [(ngModel)]="isWetRunway"/>
  </div>

  <button (click)="compute()" class="btn">Calculate</button>
</div>
